// common
$body-font-family: "Jura";
$font-weights: (
	"thin": 100,
	"light": 300,
	"regular": 400,
	"medium": 500,
	"bold": 600,
	"black": 900
);

// main
$background-color: #ffffff;
$primary-color: #0b677b;
$secondary-color: #25323e;
$accent-color: #9c27b0;
$info-color: #31ccec;
$warning-color: #f2c037;
$menu-color: #3F6E90;
