html{
	overflow-y: hidden;
}

.text-h1 {
	font-size: 3rem !important;
	line-height: 3.5rem !important;
}

.text-h2 {
	font-size: 2.5rem !important;
	line-height: 3rem !important;
}

.text-h3 {
	font-size: 2rem !important;
	line-height: 2.5rem !important;
}

.text-h4 {
	font-size: 1.5rem !important;
	line-height: 2rem !important;
}

.text-h5 {
	font-size: 1.25rem !important;
	line-height: 1.75rem !important;
}

.text-h6 {
	font-size: 1rem !important;
	line-height: 1.5rem !important;
}

.text-h1,
.text-h2,
.text-h3 {
	font-weight: map-get($font-weights, "medium") !important;
}

.text-h4,
.text-h5,
.text-h6 {
	font-weight: map-get($font-weights, "regular") !important;
}

.text-h1,
.text-h2,
.text-h3,
.v-btn {
	font-family: $font-family !important;
}

.v-toolbar-title {
	min-width: 55%;
}

.v-field {
	font-size: 1.25rem !important;
}

.v-list-item-title {
	font-size: 1.25rem !important;
}

.v-card {
	.v-card-title,
	.v-icon {
		.icon-custom {
			color: $primary;
		}
	}
	.v-card-title {
		padding: 16px 24px;
	}
	.v-card-item__prepend {
		padding: 0 !important;
	}
	.v-card-text {
		padding: 16px 24px !important;
		font-size: 1.25rem !important;
	}
	.v-card-actions {
		padding: 16px 0 0 0 !important;
		min-height: 48px;
	}
}

.border-dialog-btns {
	border-radius: 16px 0 0 0;
	color: white;

	.v-btn {
		margin: 0 !important;
		padding: 0 16px;

		&--disabled {
			color: black !important;
		}
	}
}

.height-48 {
	height: 48px !important;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.fixed-message {
	.v-messages__message {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.v-input {
	.v-messages__message {
		font-size: 0.875rem;
		line-height: 0.875rem;
		font-weight: 300;
	}
}

.v-overlay {
	&__scrim {
		background: black;
		opacity: 50%;
	}
}

.v-switch {
	&__thumb {
		color: $disable !important;
	}
}

.v-label {
	color: $success;
	font-size: 1.25rem;
}

.flicking {
	&-xxl,
	&-xl {
		width: calc(100% / 4 - 16px + 16px / 4);
	}
	&-lg,
	&-md {
		width: calc(100% / 3 - 16px + 16px / 3);
	}
	&-sm {
		width: calc(100% / 2 - 16px + 16px / 2);
	}
	&-xs {
		width: 100%;
	}

	&-xxl,
	&-xl,
	&-lg,
	&-md,
	&-sm,
	&-xs {
		height: 100%;
	}
}

.v-checkbox {
	.v-selection-control {
		height: 36px !important;
	}
	.v-label {
		color: white;
	}
}

.v-btn {
	&--size-default {
		font-size: 1rem;
	}
}
