html{
	overflow-y: hidden;
}

.text-h1 {
	font-size: 3rem !important;
	line-height: 3.5rem !important;
}

.text-h2 {
	font-size: 2.5rem !important;
	line-height: 3rem !important;
}

.text-h3 {
	font-size: 2rem !important;
	line-height: 2.5rem !important;
}

.text-h1,
.text-h2,
.text-h3 {
	font-weight: map-get($font-weights, "medium") !important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.v-btn {
	font-family: $font-family !important;
}

.v-toolbar-title {
	min-width: 65%;
}

.v-card {
	.v-card-title,
	.v-icon {
		color: $primary;
	}
	.v-card-item__prepend {
		padding: 0 !important;
	}
	.v-card-text {
		padding: 16px 24px !important;
	}
	.v-card-actions {
		padding: 0 !important;
		min-height: 48px;
	}
}

.border-dialog-btns {
	border-radius: 16px 0 0 0;
	color: white;

	.v-btn {
		margin: 0 !important;
		padding: 0 16px;
	}
}

.height-48 {
	height: 48px !important;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.fixed-message {
	.v-messages__message {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
