@font-face {
	font-family: "Jura";
	src: url("../../assets/fonts/jura/Jura-SemiBold.eot");
	src: local("Jura SemiBold"), local("Jura-SemiBold"),
		url("../../assets/fonts/jura/Jura-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/jura/Jura-SemiBold.woff2") format("woff2"),
		url("../../assets/fonts/jura/Jura-SemiBold.woff") format("woff"),
		url("../../assets/fonts/jura/Jura-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Jura";
	src: url("../../assets/fonts/jura/Jura-Regular.eot");
	src: local("Jura Regular"), local("Jura-Regular"),
		url("../../assets/fonts/jura/Jura-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/jura/Jura-Regular.woff2") format("woff2"),
		url("../../assets/fonts/jura/Jura-Regular.woff") format("woff"),
		url("../../assets/fonts/jura/Jura-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Jura";
	src: url("../../assets/fonts/jura/Jura-Light.eot");
	src: local("Jura Light"), local("Jura-Light"),
		url("../../assets/fonts/jura/Jura-Light.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/jura/Jura-Light.woff2") format("woff2"),
		url("../../assets/fonts/jura/Jura-Light.woff") format("woff"),
		url("../../assets/fonts/jura/Jura-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Jura";
	src: url("../../assets/fonts/jura/Jura-Bold.eot");
	src: local("Jura Bold"), local("Jura-Bold"),
		url("../../assets/fonts/jura/Jura-Bold.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/jura/Jura-Bold.woff2") format("woff2"),
		url("../../assets/fonts/jura/Jura-Bold.woff") format("woff"),
		url("../../assets/fonts/jura/Jura-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Jura";
	src: url("../../assets/fonts/jura/Jura-Medium.eot");
	src: local("Jura Medium"), local("Jura-Medium"),
		url("../../assets/fonts/jura/Jura-Medium.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/jura/Jura-Medium.woff2") format("woff2"),
		url("../../assets/fonts/jura/Jura-Medium.woff") format("woff"),
		url("../../assets/fonts/jura/Jura-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
