@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-BlackItalic.eot");
	src: local("Roboto Black Italic"), local("Roboto-BlackItalic"),
		url("../../assets/fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-BlackItalic.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Bold.eot");
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("../../assets/fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Bold.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-BoldItalic.eot");
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
		url("../../assets/fonts/roboto/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-BoldItalic.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-LightItalic.eot");
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
		url("../../assets/fonts/roboto/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-LightItalic.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Regular.eot");
	src: local("Roboto"), local("Roboto-Regular"),
		url("../../assets/fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Regular.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-ThinItalic.eot");
	src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
		url("../../assets/fonts/roboto/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-ThinItalic.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Black.eot");
	src: local("Roboto Black"), local("Roboto-Black"),
		url("../../assets/fonts/roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Black.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Black.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-MediumItalic.eot");
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
		url("../../assets/fonts/roboto/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-MediumItalic.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Thin.eot");
	src: local("Roboto Thin"), local("Roboto-Thin"),
		url("../../assets/fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Thin.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Thin.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Light.eot");
	src: local("Roboto Light"), local("Roboto-Light"),
		url("../../assets/fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Light.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Light.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Italic.eot");
	src: local("Roboto Italic"), local("Roboto-Italic"),
		url("../../assets/fonts/roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Italic.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Italic.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/roboto/Roboto-Medium.eot");
	src: local("Roboto Medium"), local("Roboto-Medium"),
		url("../../assets/fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
		url("../../assets/fonts/roboto/Roboto-Medium.woff") format("woff"),
		url("../../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
