// Секция карточки
@mixin card-section($title: 100%, $input: 120px)
	&-header
		width: $title
		margin-right: 8px

		&-title
			line-height: 20px

		&-comment
			font-size: 11px
			line-height: 11px

	&-input
		.q-field__inner
			width: $input

// Диалоговое окно подключения/отключения Bluetooth
@mixin popup()
	.q-card__section
		align-items: center

	.q-card__actions
		padding: 0 16px 16px 16px

	.q-ml-md
		word-break: normal
		width: calc(100% - 64px)
		min-width: 200px

@mixin dialog()
	&-card
		&-title
			padding: 16px
			display: flex
			flex-direction: row
			align-items: center

			&-icon
				margin-right: 10px

			.text-h6
				font-size: 22px

		&-body
			padding: 16px
			font-size: 17px
			max-height: 40vh

			.q-card__section
				margin-bottom: 10px
				align-items: center

		&-actions
			padding: 16px